h1{
    color: rebeccapurple;
    background-color: bisque;
}

p{
    background-color: lightseagreen;
    background-color: darkolivegreen;
}



button{
    color: crimson;
    background-color: black;
}