.container {
    height: 50px;
    width: 900px;
    background-color: #f5c3cb ;
    border: 2px solid #56afa9;
    border-radius: 10px;
    display: flex;
    justify-content: flex-start;
    align-content: center;
}

.optns {
    font-size: 24px;
    margin-left: 10px;
    line-height: 50px;
}