/* 
% is relative unit
It is often defined as a size relative to the element's parent object 
*/

h1 {
    width: 50%;
    border: black solid 2px;
}

#outer {
    height: 400px;
    width: 400px;
    background-color: pink;
    margin: 50px;
}

#inner {
    height: 100px;
    width: 100px;
    background-color: green;
    margin: 10%;

}