.container {
    width: 600px;
    height: 300px;
    background-color: yellow;
    display: grid;
    text-align: center;
    font-size: larger;
    font-weight: bolder;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: repeat(3,1fr);
    
    /* row-gap: 20px;
    column-gap: 30px; */

    /* shorthand  */
    /* -----row col */
    /* grid-gap: 20px 30px; */

    /* 20px in row as well as in col */
    grid-gap: 20px;
}

.item {
    /* width: 100px;
    height: 50px; */
    background-color: aquamarine;
    border: solid black 2px;
}