div {
    height: 300px;
    width: 300px;
    background-color: rgb(255, 119, 0);
    transform: rotate(0deg);
    margin: 0 auto;
    margin-top: 200px;
    transition: 0.3s;
}

div:hover {
    transform: rotate(45deg);
}
