#mainTopic {
    color: blue;
}

*{
    text-align: center;
}

h1,h2,h3,h4,h5,h6 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.content {
    color: white;
    background-color: cornflowerblue;
}

div button {
    background-color: purple;
    color: azure;
}

button:hover {
    background-color: yellow;
    color: blue;
}

p:nth-of-type(2n+1){
    color: yellow;
}

h1::first-letter{
    color: red;
}

input[type="checkbox"]:checked+label {
    color: darkgreen;
}


/* Q10:
h1 : 0 0 1 (1)
#maincontent : 1 0 0 (100)
.main : 0 1 0 (10)
div .main : 0 1 1 (11)


Order:
#maincontent
div .main
.main
h1
*/