body{
    margin-left: 20px;
}

.chat{
    background-color:lightpink;
    border-radius: 16px;
    padding: 20px;
    display: inline-block;
}

.msg{
    background-color: aquamarine;
    border-radius: 16px;
    padding: 5px 15px;
}