/* Align Items helps us set the distribution along cross axis
(ie axis perpendicular to main axis)

Distribute the items along cross axis
*/

#container {
    height: 600px;
    width: 80%;
    background-color: rgb(250, 255, 240);
    margin: 10px auto;
    border: 2px solid black;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    /* align-items: baseline;  */

    /* 
    Align items works on individual items items
    whereas align content works on the complete flex/grid box;
    */
    align-content: space-evenly;

}
    /* 
    Align items has 3 major properties:
    ie
    align-items: flex-start; 
    align-items: flex-end; 
    align-items: center; 
    align-items: baseline; 
    */

    /* 
    baseline is all the text aligned to single base line , by moving divs up or down 
    */

    /* 
    There 3 more options :
    1. align-items: space-between; 
    2. align-items: space-around; 
    3. align-items: space-evenly; 
    */

h1 {
    text-align: center;
}

#container div {
    height: 100px;
    width: 300px;
    color: white;
    text-align: center;
    font-size: 1.5rem;
}