

#container {
    height: 600px;
    width: 80%;
    background-color: azure;
    margin: 10px auto;
    border: 2px solid black;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: space-evenly;
    /* flex-wrap: wrap; */
}

#org {
    align-self: baseline;
    flex-shrink: 1;
}

#blue {
    max-width: 400px;
    flex-shrink: 3;
}

h1 {
    text-align: center;
}
#container div {
    height: 100px;
    width: 300px;
    color: white;
    text-align: center;
}